@font-face {
  font-family: AudiType;
  src: url(../fonts/AudiType-ExtendedNormal.eot);
}
@font-face {
  font-family: AudiType;
  src: url(../fonts/AudiType-ExtendedNormal.woff) format("woff");
}
@font-face {
  font-family: AudiType;
  src: url("../fonts/AudiType-ExtendedNormal.svg#AudiTypeScreen-Normal") format("svg");
}
